# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used Data Science libraries
- Create tables in markdown
- Perform simple arithmetic operations in Python
- Understand the basic tools of the Data Science ecosystem

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

## Author
John Samy